<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.UserDataMapper">
    <select id="findAll" resultType="com.example.mybatis.model.UserData">
        SELECT id, name, birth_year, birth_month, birth_day, sex, memo 
        FROM USER_DATA 
        <!-- 何件取得するか指定するために、ソート順を指定後に、OFFSET, FETCH NEXTを指定 -->
        ORDER BY id ASC 
        OFFSET #{_skiprows} ROWS 
        FETCH NEXT #{_pagesize} ROWS ONLY
    </select>
</mapper>