<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メイン画面</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" th:action="@{/upload}">
    	<th:block th:if="!${#strings.isEmpty(message)}">
    		<span th:text="${message}">メッセージ</span><br/><br/>
    	</th:block>
        <th:block th:if="!${#strings.isEmpty(errMessage)}">
    		<font color="#FF0000"><span th:text="${errMessage}">エラーメッセージ</span></font><br/><br/>
    	</th:block>
    	ファイル ： <input type="file" name="upload_file" /><br/><br/>
    	<input type="submit" value="アップロード" />
	</form>
</body>
</html>